h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}
p .sub-title {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}
#contact-container {
    width: 80%;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,.2);
    -webkit-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);;
    .contact-info {
        background-color: #5984c2;
        border-radius: 15px;
        flex: 0 1 40%;
        padding: 40px;
        color: #fff;
        display: flex;
        flex-direction: column;
        h4 {
            font-size: 2rem;
            font-weight: 500;
            //margin-top: 0;
            margin: 0;
        }
        p {
            color: rgba(255,255,255,.7);
            font-size: 1.2rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }
        .icon-text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 2rem;
            .fas {
                flex: 0 0 20px;
                font-size: 1.8rem;
                margin-right: 2rem;
                color: #05f7ff;
            }
            .far {
                flex: 0 0 20px;
                font-size: 1.8rem;
                margin-right: 2rem;
                color: #05f7ff;
            }
            span {
                font-size: 1.3rem;
                font-weight: 300;
            }
        }
        .social-media {
            display: flex;
            width: 50;
            justify-content: space-between;
            .icon-circle {
                flex: 0 0 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                text-decoration: none;
                border-radius: 50%;
                transition: .3s all ease-in-out;
                &:hover {
                     background: #05f7ff;

                }
                .fab {
                    font-size: 25px;
                }
            }
        }
    }
    form {
        padding: 40px;
        width: 100%;
        .col {
            /* display: flex;
            width: 100%;
            flex: 1 0 100%;
            flex-direction: column ;
             */
            
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 10px;
        width: 100%;
        justify-content: end;
        margin-right: 2rem;
        }
        .form-group {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            flex: 1 0 1%;
            padding: 10px;
            label {
                font-size: .9rem;
                color: rgba(255,255,255,.6);
                margin-bottom: 1rem;
            }
            input[type="text"], input[type="tel"], input[type="email"], textarea {
                //background: rgba(255,255,255,.2);
                border: none;
                cursor: pointer;
                padding: 10px;
                font-size: 1rem;
                font-weight: 300;
                color: #fff;
                background: transparent;
                border-bottom: 2px solid rgba(255,255,255,.4);
                transition: .3s all ease-in-out;
                margin-bottom: 2rem;
                &:focus{
                    border: none;
                    outline: none;
                    border-bottom: 2px solid #05f7ff;
                }
            }
            &:nth-last-child(2){
                padding-right: 0;
            }
            
            .label{
                font-size: 1.2rem;
            }
            &.solo{
                padding: 0;
            }
            &.right{
                justify-content: flex-end;
            }
            button{
                width: 200px;
                height: 60px;
                cursor: pointer;
                background: white;
                border: none;
                text-transform: uppercase;
                border-radius: 5px;
               
            }
        }
    }
}