.gallery {
    margin-top: 110px;
   /*  /* width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    
}

.container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.image-card {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.image {
    width: 100%;
}

.tags {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
    background-color: rgba(45, 76, 160, 0.8);
}

.tag {
    outline: none;
    border: none;
    color: #ddd;
    margin: 0px 10px;
    background-color: transparent;
    cursor: pointer;
}

.active {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}